* {
  margin: 0;
  padding: 0;
}

body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: x-large;
}

header {
    height: 100px;
    background-color: #30336b;
    color: white;

  }
  
  .highscores {
    padding-left:  20px;
    margin-top: 100px;
  }

  .timer {
    float: right;
    padding: 35px;
  }
  
  main {
    display: block;
    text-align: center;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    height: auto;
  }

  main p {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  button {
    width: 15%;
    height: 40px;
    color: white;
    background-color: #30336b;
    font-size: large;
    font-size: larger;
  }